<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card movie" *ngIf="movie$ | async as movie">
        <div class="card-body text-center">
          <img class="movie__poster" [src]="movie.poster_path" alt="">
          <h5 class="movie__title">{{movie.title}}</h5>
          <p class="movie__title--original text-monospace">{{movie.original_title}}</p>
          <p class="movie__release">({{movie.release_date | date : 'YYYY'}})</p>
          <p class="movie__overview">{{movie.overview}}</p>
          <a [routerLink]="['/']">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>

